<h2>Edit Pokemon Stats</h2>

<form class="edit_pokemon" action="/pokemon/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label>Name:</label>
    <input name="pokemon[name]">

  <label>Type:</label>
  <input name="pokemon[poke_type]">

  <label>CP:</label>
  <input name="pokemon[cp]">

  <label>Photo-url:</label>
  <input name="pokemon[img_url]">

  <label>Trainer-Id:</label>
  <input name="pokemon[trainer_id]">

  <input type="submit" value="EDIT">

</form>

<form class="delete" action="/pokemon/<%= @pokemon.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button.delete" type="submit" value="Delete!">
</form>

<h3><a href="/">HOME</a></h3>
