<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" text="text/css" href="<%= url("/css/pokestyle.css")%>"> -->

    <title>Pokenatra</title>

  </head>
  <body>

  <%= yield %>

  </body>
</html>
