<form class="edit_teams" action="/teams/<%= @teams.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label>Name:</label>
    <input name="teams[name]">

  <input type="submit" value="EDIT">
</form>


<form class="delete" action="/teams/<%= @teams.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button.delete" type="submit" value="Delete!">
</form>

<h3><a href="/">HOME</a></h3>
