<h2><a href="/">home</a></h2>
<div class="trainers">

    <h3>Name: <%= @trainers.name %></h3>

  <img src="<%= @trainers.photo_url %>"></img>
  <h4>Pokemon:</h4>
  <% @trainers.pokemons.each do |pokemon| %>
    <p><%= pokemon.name %><p>
  <% end %>
</div>
